body {
    background-color: #222;
    color: white;
    text-align: center;
    font-family: Arial;
}

.box {
    margin-top: 100px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
